@import "tailwindcss";

@theme inline {
  --font-sans: Inter, sans-serif;
  --font-mono: Space Mono, monospace;

  --color-*: initial;

  /* #fff */
  --color-white: oklch(100% 0 0);
  /* #000 */
  --color-black: oklch(0% 0 0);
  /* #252525 */
  --color-slate: oklch(21.18% 0 0);
  /* #f9f8f2 */
  --color-paper: oklch(96.84% 0.008 85.87);
  /* #b6b69c */
  --color-stone: oklch(74.51% 0.012 85.87);
  /* #dc4144 */
  --color-flame: oklch(58.32% 0.197 27.33);
}

@layer base {
  * {
    transition: font-size 150ms;
    cursor: default;
  }

  *::selection {
    background-color: transparent;
  }

  body {
    font-family: var(--font-sans);
    color: var(--color-slate);
    background-color: var(--color-paper);
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: var(--color-paper);
      background-color: var(--color-slate);
    }
  }
}
